<div class="intro-header">
        <section class="view intro-2 rgba-gradient" style="overflow:auto;">
        <app-navbar></app-navbar>
        <div class="container-fluid">
        <div class="row">
          <div class="col-8">
            <div class="card" >
              <div class="card-body">
                <div class=table-wrapper>
                <table class="table table-dark table-hover table-bordered table-striped table-fixed">
                  <thead class="thead thead-dark">
                  <tr>
                    <th style="position: sticky; top: -1px;text-align:center;" scope="col">Radiant</th>
                    <th style="position: sticky; top: -1px;text-align:center;" scope="col">Dire</th>
                    <th style="position: sticky; top: -1px;text-align:center;" scope="col">Winner</th>
                    <th style="position: sticky; top: -1px;text-align:center;" scope="col">Time</th>
                    <th style="position: sticky; top: -1px;text-align:center;" scope="col">Status</th>
                    <th style="position: sticky; top: -1px;text-align:center;" scope="col">League Name</th>
                  </tr>
                </thead>
                <tbody class="tbody-dark">
                  <tr *ngFor="let match of matches">
                    <td>{{ match.opponentOneName }}</td>
                    <td>{{ match.opponentTwoName }}</td>
                    <td>{{ match.winner}}</td>
                    <td>{{ match.time }}</td>
                    <td>{{ match.status }}</td>
                    <td>{{ match.leagueName }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        <div class="col-4">
          <div style="float:right;text-align:center;padding-top:200px;">
              <p style="color:white;">Dota 2 is a multiplayer online battle arena (MOBA) video game developed
                 and published by Valve Corporation. The game is a sequel to Defense of the Ancients (DotA), 
                 which was a community-created mod for Blizzard Entertainment's Warcraft III: Reign of Chaos and its expansion pack, 
                 The Frozen Throne. Dota 2 is played in matches between two teams of five players, with each team occupying and defending their 
                 own separate base on the map. Each of the ten players independently controls a powerful character, known as a "hero", 
                 who all have unique abilities and differing styles of play. During a match, players collect experience points and items for their 
                 heroes to successfully defeat the opposing team's heroes in player
                 versus player combat. A team wins by being the first to destroy the other team's "Ancient", a large structure located within their base.</p>
          </div>
          <div style="float:left;margin-top:50px;margin-left:20px;">
              <button type="button" routerLink="/dota2Umatches"class="btn btn-warning" style="float:left;margin-right:40px;">View Upcoming Matches</button>
              <button type="button" routerLink="/dota2Tournaments"class="btn btn-warning">View Tournaments</button>
          </div>
        </div>
        </div>
        </div>
        </section>
        </div>