<div class="intro-header">


        <section class="view intro-2 rgba-gradient">
          <div class="full-bg-img">
            <div class="header-text">
                <h1>Please choose a game</h1>
            </div>     
                <div class="buttons">
                <div class="buttons-class text-center text-md-left margins">
                  <a routerLink="/lolUmatches"><button style="margin:20px"type="button" class="btn btn-outline-primary">League Of Legends</button></a>
                  <a routerLink="/dota2Umatches"><button style="margin:20px" type="button" class="btn btn-outline-danger">Dota 2</button></a>
                  <button style="margin:20px"type="button" class="btn btn-outline-warning">Counter Strike Global Offensive</button>
                </div>
              </div>
          </div>  
        </section>
      </div>
      