<div class="intro-header">
    <section class="view intro-2 rgba-gradient" style="overflow:auto;">
    <app-navbar></app-navbar>
    <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div class="card" >
          <div class="card-body">
            <div class=table-wrapper>
            <table class="table table-dark table-hover table-bordered table-striped table-fixed">
              <thead class="thead thead-dark">
              <tr>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">Terrorists</th>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">Counter-Terrorists</th>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">Winner</th>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">Time</th>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">Status</th>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">League Name</th>
              </tr>
            </thead>
            <tbody class="tbody-dark">
              <tr *ngFor="let match of matches">
                <td>{{ match.opponentOneName }}</td>
                <td>{{ match.opponentTwoName }}</td>
                <td>{{ match.winner}}</td>
                <td>{{ match.time }}</td>
                <td>{{ match.status }}</td>
                <td>{{ match.leagueName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div class="col-4">
      <div style="float:right;text-align:center;padding-top:200px;">
          <p style="color:white;">Counter-Strike: Global Offensive (CS:GO) is a multiplayer 
            first-person shooter video game developed by Hidden Path Entertainment and Valve 
            Corporation. It is the fourth game in the Counter-Strike series and was released 
            for Microsoft Windows, OS X, Xbox 360, and PlayStation 3 on August 21, 2012, while the Linux version was released in 2014.
            The game pits two teams against each other: the Terrorists and the Counter-Terrorists. Both sides are tasked with eliminating the 
            other while also completing separate objectives. The Terrorists, depending on the game mode, must either plant 
            the bomb or defend the hostages, while the Counter-Terrorists must either prevent the bomb from being planted, 
            defuse the bomb, or rescue the hostages. There are nine game modes, all of which have distinct characteristics 
            specific to that mode. The game also has matchmaking support that allows players to play on dedicated Valve 
            servers, as well as allowing members of 
            the community to host their own servers with custom maps and game modes. A battle-royale game-mode, "Danger Zone", was introduced in 2018.</p>
      </div>
      <div style="float:left;margin-top:50px;margin-left:20px;">
          <button type="button" routerLink="/csgoPmatches"class="btn btn-warning" style="float:left;margin-right:40px;">View Finished Matches</button>
          <button type="button" routerLink="/csgoTournaments"class="btn btn-warning">View Tournaments</button>
      </div>
    </div>
    </div>
    </div>
    </section>
    </div>