<div class="intro-header">
    <section class="view intro-2 rgba-gradient" style="overflow:auto;">
      <app-navbar></app-navbar>
    <div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="logoWorlds">
                <img src="../assets/img/internationalLogo.png"style="height:400px width:600px; padding-left:100px; padding-top:200px; style margin:auto;display:block;">

            </div>
            <div class="infoTour"style="color:yellow; text-align:center;">
                <p>The International, often abbreviated as TI, is an annual tournament organized by Valve. 
                  In 2015 Valve increased their number of hosted events, 
                  founding the Dota Major Championships which incorporates The International into its
                   structure. The International remains the biggest and most prestigious event on the Major Championship circuit.
                   The prize pool for The International 2019 was US$33 million championship prize</p>
                    <a href="https://www.twitch.tv/dota2ti"style="color:yellow;font-size:30px;">Twitch Stream</a>
                    <h5 style="padding-top:20px;">Begin date: 7th July 2019</h5>
                    <h5>End date: 26th August 2019</h5>
            </div>

        </div>
      <div class="col-6">
        <div class="card" >
          <div class="card-body">
            <div class="table-wrapper">
            <table class="table table-dark table-hover table-bordered table-striped table-fixed">
              <thead class="thead thead-dark">
              <tr>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">Tournament Name</th>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">Begins</th>
                <th style="position: sticky; top: -1px;text-align:center;" scope="col">Prize Pool</th>
              </tr>
            </thead>
            <tbody class="tbody-dark">
              <tr *ngFor="let tournament of tournaments">
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.beginAt }}</td>
                <td>{{ tournament.prize }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div class="col-3">
            <div class="table table-warning"style="margin-top:100px;">
                    <a href="https://dota2.gamepedia.com/The_International_2018" 
                    class="list-group-item list-group-item-action list-group-item-warning">Winner The International 2018 - OG</a>
                    <a href="https://dota2.gamepedia.com/The_International_2017" 
                    class="list-group-item list-group-item-action list-group-item-warning">Winner The International 2017 - Team Liquid</a>
                    <a href="https://dota2.gamepedia.com/The_International_2016" 
                    class="list-group-item list-group-item-action list-group-item-warning">Winner The International 2016 - Wings Gaming</a>
                    <a href="https://dota2.gamepedia.com/The_International_2015" 
                    class="list-group-item list-group-item-action list-group-item-warning">Winner The International 2015 - Evil Geniuses</a>
                    <a href="https://dota2.gamepedia.com/The_International_2014" 
                    class="list-group-item list-group-item-action list-group-item-warning">Winner The International 2014 - NewBee</a>
                  </div>
      <div style="float:left;margin-top:50px;margin-left:20px;">
          <button type="button" routerLink="/dota2Umatches"class="btn btn-warning" style="float:left;">Back to Matches</button>
      </div>
    </div>
    </div>
    </div>
    </section>
    </div>

